{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    ["@babel/plugin-proposal-private-methods", {
      "loose": true
    }],
    ["babel-plugin-root-import", {
      "rootPathSuffix": "./server/",
      "rootPathPrefix": "server/"
    }]
  ],
  "overrides": [{
    "test": ["./server/**/*.ts", "./test/**/*.ts"],
    "presets": ["@babel/typescript"]
  }]
}
