{
  "presets": ["@babel/preset-env", "@babel/preset-flow"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/plugin-proposal-class-properties", {
      "loose": true
    }],
    ["@babel/plugin-proposal-private-methods", {
      "loose": true
    }],
    ["babel-plugin-root-import", {
      "paths": [
        {
          "rootPathSuffix": "./server/",
          "rootPathPrefix": "server/"
        },
        {
          "rootPathSuffix": "./src/",
          "rootPathPrefix": "src/"
        }
      ]
    }]
  ],
  "overrides": [{
    "test": ["./server/**/*.ts", "./test/**/*.ts"],
    "presets": ["@babel/typescript"]
  }]
}
